<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Out_Quantity</title>
    <script src="/home/showlew/graduation_peoject/node_modules/chart.js/dist/chart.bundle.js"></script>
</head>
<body>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['#1', '#2', '#3', '#4'],
            datasets: [{
                data: [20, 10, 4, 2]
            }]
        }
    });
</script>
</body>
</html>